$letterSpacing: (
  "1": 1px,
  "2": 2px,
  "3": 3px,
  "4": 4px,
  "5": 5px,
);

@each $name, $value in $letterSpacing {
  .ls-#{$name} {
    letter-spacing: #{$value} !important;
  }
}
@for $i from 1 through 50 {
  .max-w-#{$i*10} {
    max-width: #{$i * 10}px !important;
  }
  .max-h-#{$i*10} {
    max-height: #{$i * 10}px !important;
  }
  .fix-w-#{$i*10} {
    width: #{$i * 10}px !important;
  }
  .fix-h-#{$i*10} {
    height: #{$i * 10}px !important;
  }
  .min-w-#{$i*10} {
    min-width: #{$i * 10}px !important;
  }
  .min-h-#{$i*10} {
    min-height: #{$i * 10}px !important;
  }
}
.cursor-pointer {
  cursor: pointer !important;
}
.cursor-event-none {
  pointer-events: none !important;
}
